<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>tw-struts2-fundamentos</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- Configuração do Filtro -->
  <filter>
  		<filter-name>struts2-filter</filter-name>
  		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  		<init-param>
  				<param-name>default</param-name>
  				<param-value>src/main/resources/struts.xml</param-value>
  		</init-param>
  </filter>
  <!-- Configuração das rotas a serem interceptadas pelo filtro -->
  <filter-mapping>
  		<filter-name>struts2-filter</filter-name>
  		<!-- indica que todas as rotas desta aplicação 
  		serão atendidas pelo struts -->
  		<url-pattern>/*</url-pattern> 
  </filter-mapping>
</web-app>